.ExtensibleIcon {
    display: flex;
    margin-bottom: 15px;
    flex-direction: row-reverse;
    position: relative;
    min-width: 100%;
}

.ExtensibleIcon:last-of-type {
    margin-bottom: 0px;
}

.ExtensibleIcon:hover {
    cursor: pointer;
}

.ExtensibleIcon img {
    padding: 8px;
    max-width: 100%;
    background-color: #050505;
    border-radius: 4px;
}

.ExtensibleIcon img.extended {
    border-radius: 0px 4px 4px 0px;
}