.Introducao-titulo-spinner-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
}

.Introducao-titulo {
    font-family: 'Bitter', serif;
    font-weight: 400;
    font-size: 4rem;
    line-height: 4rem;
    color: #EFEFEF;
    z-index: 2;
}

/* Faz com que o spinner não crie
barra de scroll horizontal */
/* nao ta funcionando mobile isso: */
/* body {
    overflow-x: none;
} */
/* Preciso arrumar isso ainda */

.Introducao-spinner {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    opacity: 50%;
    align-self: center;
    justify-self: center;

    z-index: 1;
    animation: InfiniteSpin 9s linear infinite;
}

@keyframes InfiniteSpin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 900px) {
    .Introducao-titulo {
        grid-column: 1/-1;
    }

    .Introducao-spinner {
        position: absolute;
        top: -40px;
        right: -25px;
    }

    .Introducao-titulo {
        font-size: 3rem;
        line-height: 3rem;
    }
}

@media (max-width: 600px) {
    .Introducao-spinner {
        animation: InfiniteSpinWithScale 9s linear infinite;
    }

    .Introducao-spinner {
        opacity: 30%;
    }
}

@keyframes InfiniteSpinWithScale {
    from {
        transform: rotate(0deg) scale(0.8);
    }

    to {
        transform: rotate(360deg) scale(0.8);
    }
}

@media (max-width: 500px) {
    .Introducao-titulo {
        font-size: 2.2rem;
        line-height: 2.2rem;
    }
}