.Introducao-overflow-wrapper {
    overflow: hidden;
}

.Introducao-container {
    margin: 0 50px;

    /* Pra sobrescrever o margin
    e pegar o overflow no spinner
    depois. coloquei o bg color
    no .Introducao-overflow-wrapper
    pra inspecionar antes o container*/
    margin-top: 0px;
    padding-top: 50px;
}

.Introducao-horizontal-decorator {
    margin-top: 68px;
    height: 2px;
    background-color: #EFEFEF;
    width: 100%;
}

@media (max-width: 900px) {
    .Introducao-container {
        margin: 0 25px;
    }
}

@media (max-width: 500px) {
    .Introducao-container {
        margin: 0 10px;
    }
}