.Header-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 7.75rem;
}

@media (max-width: 900px) {
    .Header-container {
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media (max-width: 500px) {
    .Header-container {
        margin-left: 0 10px;
        margin-right: 0 10px;
    }
}