.Header-container {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 124px;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
}

@media (max-width: 900px) {
    .Header-container {
        margin-left: 25px;
        margin-right: 25px;

        margin-bottom: 62px;
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .Header-container {
        margin-left: 10px;
        margin-right: 10px;

        margin-top: 20px;
        margin-bottom: 20px;
    }
}