.Navbar-container {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    place-content: end;
    position: relative;
}

.Navbar-anchor img {
    border: 2px solid #EFEFEF;
    padding: 9.6px 16px;
    box-shadow: 3px 3px #0D0D0D, 5px 5px rgba(224, 35, 25, 1);

    transition: 200ms;
}

.Navbar-anchor:nth-child(1) img {
    padding-top: 7.6px;
    padding-bottom: 8.6px;
}

.Navbar-anchor :hover {
    position: relative;
    transform: translate3d(5px, 5px, 0);
    background: linear-gradient(180deg, #E02319 0%, #D0130A 100%);
    border: 2px solid #D0130A;
    box-shadow: none;
}

@media (max-width: 1400px) {
    .Navbar-container {
        gap: 25px;
    }
}

@media (max-width: 1150px) {
    .Navbar-anchor,
    .Header-logo {
        transition: 200ms;
    }

    .Navbar-anchor {
        transform: scale(0.9);
    }

    .Navbar-container {
        gap: 8px;
    }
}

/* Mobile */
@media (max-width: 900px) {
    .Navbar-container {
        place-content: center;
    }
}

/* Full mobile, menu fica na vertical */
@media (max-width: 600px) {
    .Navbar-container {
        flex-direction: column;
        align-items: center;
    }
}