.slideArrow {
    padding: 18px 25px; 
    cursor: pointer;
    user-select: none;
}

@media (pointer: fine) {
    .slideArrow:hover path {
        fill: #E02319;
    }
}

@media (pointer: coarse) {
    .slideArrow:active path {
        fill: #E02319;
    }
}

.slideArrow path {
    transition: 150ms;
}

@media (max-width: 1100px) {
    .slideArrow {
        padding: 4px 12px;
        transform: scale(0.7);
        margin-left: -6px;
        margin-right: -6px;
    }
}