.container {
    background-color:#050505;
    padding-top: 100px;
    padding-bottom: 100px; /* APAGAR DEPOIS */ 
}

.sectionTitle img {
    margin: 0 auto;
    display: block;
    padding: 11px 29px;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(180deg, #E02319, #D0130A) 1;
    margin-bottom: 20px;
}

.divisorLine {
    margin: 0 auto;
    background-color: #EFEFEF;
    width: 2px;
}


@media (max-width: 500px) {
    .sectionTitle img {
        transform: scale(0.9);
    }
} 