.PortfolioTitle img {
    margin: 0 auto;
    display: block;
    padding: 11px 29px;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(180deg, #E02319, #D0130A) 1;
    margin-bottom: 20px;
}