.projectTitle {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: #EFEFEF;
    background-color: #121212;
    border: 2px solid #EFEFEF;
    padding: 10px 13px;
    max-width: max-content;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;
}

.project {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.details {
    display: grid;
    justify-items: center;
}

.detailsTitle {
    font-family: 'Bitter', serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #EFEFEF;
}

.detailsTitle span {
    background: linear-gradient(rgba(217, 14, 14, 1), rgba(154, 14, 12, 1));
    background-size: 100%;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.divisorLine {
    margin-top: 10px;
    width: 1.5px;
    height: 28px;
    background-color: #EFEFEF;
    margin-bottom: 12px;
}

.detailsCard {
    background-color: #121212;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 4px;
    max-width: 420px;
    margin-bottom: 50px;
}

.detailsDate {
    display: block;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    line-height: 1.3125rem;
    color: #737373;
    margin-bottom: 25px;
}

.detailsCard p {
    font-family: 'Bitter', serif;
    font-size: 1rem;
    line-height: 1.3125rem;
    color: #D6D6D6;
}

.detailsCard p:not(:last-child) {
    margin-bottom: 20px;
}

.detailsCard p span {
    font-weight: 700;
}

.fullscreenBtn img {
    border: 2px solid #EFEFEF;
    padding: 9.6px 16px;
    box-shadow: 3px 3px #0D0D0D, 5px 5px rgba(224, 35, 25, 1);

    transition: 200ms;
}

.fullscreenBtn :hover {
    position: relative;
    transform: translate3d(5px, 5px, 0);
    background: linear-gradient(180deg, #E02319 0%, #D0130A 100%);
    border: 2px solid #D0130A;
    box-shadow: none;
}