.projectContainer {
    margin-bottom: 50px;
}

@media (max-width: 1450px) {
    .projectContainer {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.projectTitle {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: #EFEFEF;
    background-color: #121212;
    border: 2px solid #EFEFEF;
    padding: 10px 13px;
    max-width: max-content;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.project {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    gap: 80px;
}

@media (max-width: 1450px) {
    .project {
        gap: 0px;
    }
}

.details, 
.slides {
    display: grid;
    justify-items: center;
    align-content: start;
}

.detailsTitle,
.slidesTitle {
    font-family: 'Bitter', serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: #EFEFEF;
}

.slidesTitle {
    line-height: 1.8rem;
    margin-bottom: 50px;
}

.slidesTitle::after {
    display: block;
    margin-top: 4px;
    content: '';
    height: 2px;
    width: 78px;
    background: linear-gradient(180deg, #E02319 0%, #D0130A 100%);
}

.detailsTitle span {
    background: linear-gradient(rgba(217, 14, 14, 1), rgba(154, 14, 12, 1));
    background-size: 100%;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.divisorLine {
    margin-top: 10px;
    width: 1.5px;
    height: 28px;
    background-color: #EFEFEF;
    margin-bottom: 12px;
}

.detailsCard {
    background-color: #121212;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 4px;
    max-width: 420px;
    margin-bottom: 50px;
}

.detailsDate {
    display: block;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    line-height: 1.3125rem;
    color: #737373;
    margin-bottom: 25px;
}

.detailsCard p {
    font-family: 'Bitter', serif;
    font-size: 1rem;
    line-height: 1.3125rem;
    color: #D6D6D6;
}

.detailsCard p:not(:last-child) {
    margin-bottom: 20px;
}

.detailsCard p span {
    font-weight: 700;
}

.fullscreenBtn img {
    border: 2px solid #EFEFEF;
    padding: 9.6px 16px;
    box-shadow: 3px 3px #0D0D0D, 5px 5px rgba(224, 35, 25, 1);

    transition: 200ms;
    cursor: pointer;
}

@media (pointer: coarse) {
    .fullscreenBtn :active {
        position: relative;
        transform: translate3d(5px, 5px, 0);
        background: linear-gradient(180deg, #E02319 0%, #D0130A 100%);
        border: 2px solid #D0130A;
        box-shadow: none;
        animation: alternate;
    }
}

@media (pointer: fine) {
    .fullscreenBtn :hover {
        position: relative;
        transform: translate3d(5px, 5px, 0);
        background: linear-gradient(180deg, #E02319 0%, #D0130A 100%);
        border: 2px solid #D0130A;
        box-shadow: none;
    }
}

.slideContainer {
    max-width: 460px; /* manter esse valor*/
    display: grid;
    grid-template-columns: auto 460px auto;
    align-items: center;
    justify-content: center;
}

.slide {
    max-width: 100%;
}

.slideProgressContainer {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.slideProgressBall {
    transition: 150ms;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #383838;
}

.ballFilled {
    background-color: #E02319;
}

.modalContainer {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;

    display: grid;
    justify-content: center;
    align-content: center;
    animation: 200ms entryModalBackground forwards;
}

.modal .slide {
    place-self: center;
}

.modal .slideContainer {
    grid-template-columns: auto 60vw auto;
}

.modal .slideContainer.isMobile {
    grid-template-columns: auto 40vw auto;
}

@media (max-width: 1000px) {
    .modal .slideContainer.isMobile {
        grid-template-columns: auto 60vw auto;
    }
}

@media (max-width: 700px) {
    .modal .slideContainer.isMobile {
        grid-template-columns: auto 80vw auto;
    }

    .modal .slideContainer {
        grid-template-columns: auto auto auto;
    }
}

@keyframes entryModalBackground {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 1100px) {
    .project {
        grid-template-columns: 1fr;
    }

    .details {
        margin-top: 50px;
    }

    .slideContainer {
        /* max-width: 250px; */
        grid-template-columns: auto auto auto;
    }

    .slideProgressContainer {
        margin-top: 15px;
        gap: 7px;
    }

    .slideProgressBall {
        height: 7px;
        width: 7px;
    }

    .projectTitle {
        line-height: 1.5rem;
        text-align: center;
    }
}

@media (max-width: 500px) {
    .projectContainer {
        margin-left: 10px;
        margin-right: 10px;
    }

    .detailsCard {
        margin-top: 10px;
        /* width: 100%; */
    }
}