:root {
  /* Para colocar a scrollbar em dark mode */
  color-scheme: dark;
}

html {
  /* Deixa o scroll suave pela navbar */
  scroll-behavior: smooth;
}

body {
  background-color: #0D0D0D;
  margin: 0;
}

h1,
h2,
h3,
span,
a,
p {
  margin: 0;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.Linear-Gradient-Red-1-Text {
  background: linear-gradient(180deg, #E02319 0%, #D0130A 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;500&family=Roboto+Mono:wght@400;500&display=swap');